<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yz.mapper.StudentMapper">
	<resultMap id="StudentResultMap" type="com.yz.entity.Student">
		<!-- WARNING - @mbg.generated -->
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="password" jdbcType="VARCHAR" property="password" />
	</resultMap>

	<select id="queryStudentList" resultType="java.util.Map">
		select id,name,password from student 
	</select>
	
	<select id="queryuser" resultType="com.yz.entity.Student" parameterType="java.lang.String">
	    select id,name,password from student where name=#{phones}
	</select>
	
	<insert id="adduser" parameterType="java.lang.String">
	    insert into student(id,name,password)values(#{id},#{name},#{password}) 
	</insert>

</mapper>